@use '../../styles/variables.scss' as *;

.wrapper {
  overflow: auto;

  .tabs {
    display: flex;
    justify-content: center;
    width: max-content;
    min-width: 100px;
    min-height: 50px;
    background-color: $color-background-white;

    &__empty {
      text-align: center;
    }

    &__pinned-inner {
      z-index: 5;
      position: sticky;
      left: 0;
      box-shadow: 4px 0px 15px 3px rgb(34 60 80 / 5%);
    }

    .tab {
      position: relative;
      min-width: fit-content;
      min-height: 50px;
      padding: 15px 20px;
      border-top: 2px solid transparent;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1;
      color: $color-gray-dark;
      background: $color-background-white;
      transition: all 0.15s;
      cursor: grab;
      user-select: none;

      &.active {
        border-top: 2px solid $color-blue;
        color: $color-title;
        background-color: $color-background-light;
      }

      &.draggable {
        background-color: $color-background-light !important;
        color: $color-background-light !important;

        .tab__icon {
          visibility: hidden;
        }
      }

      &.pinned {
        cursor: pointer;

        &:hover {
          border-top: 2px solid $color-gray-dark;
        }

        span {
          display: none;
        }

        .tab__icon {
          margin-right: initial;
        }
      }

      &__icon {
        margin-right: 10px;
        pointer-events: none;
      }

      &::after {
        content: '';
        position: absolute;
        top: 35%;
        right: 0;
        width: 1px;
        height: 16px;
        background: $color-background-white;
      }

      &:hover {
        background-color: $color-background-lighter;
      }
    }
  }
}

.tab__content {
  height: calc(100% - 86px);
  margin: 20px;
  border-radius: 6px;
  background-color: #fff;
}
