// Primary Colors
$color-title: #343434;
$color-blue: #4690e2;
$color-white: #ffffff;

// Grays
$color-gray-dark: #7f858d;
$color-gray-light: #aeb6ce; // Light Gray (20% opacity)
$color-gray-medium: #343434; // Medium Gray (100% opacity)

// Background Colors
$color-background-light: #f1f5f8;
$color-background-lighter: #f4f7f9;
$color-background-white: #fefefe;
